__pycache__/
*.pyc
*.pyo
*.bak
.env
config_local.json
*.log
*.html
!ui/components/web/templates/*.html
!ui/settings/*.html
*.toc
*.zip
*.pyz
*.spec
*build_**/
/dist/
.idea/
*.dmg
build/*
test*
config.json
.amazonq
.github
.idea
mcp.json
conversation_history.json
*_results.json
